*{
    margin: 0px;
    padding: 0px;
    font-family: Azeret Mono;
}
    /* top-part-start */
nav > button{
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
padding: 17px 24px;
margin-top: 38px;
background-color: transparent;
font-size: 20px;
}

nav > h1{
    margin-top: 50px;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

nav{
    margin-bottom:35px;
}
    /* top-part-end */
    
    /* hero-banner-start */
#heroimg{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
}

.banner{
    background-image: url(./assets/Hero-bg.png);
    border-top: 2px dashed;
    border-bottom: 2px dashed;
    border-color: #0D1321B3;
}

.banner > h1{
    color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
text-align: center;
margin-top: 32px;
}

.banner > p{
    margin-top: 24px;
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
}

.herobtn > button{
    margin-top: 32px;
    padding: 21px 24px;
    color: #FFFFFF;
    background-color: #0D1321;
    border-radius: 8px;
}

.herobtn{
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.herobtn > button{
    margin-bottom: 44px;
}
    /* hero-banner-end */

    /* section-1-start */

.sec1{
    padding: 74px 148px;
    border-radius: 16px;
   
}

.why-web-dev > h1{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
text-align: center;
margin-bottom: 24px;
}

.why-web-dev > p{
    color: #0D1321;
font-size: 16px;
font-weight: 400;
text-align: center;
}

.why-web-dev{
    padding: 80px 97px;
    background-color: #0D132105;
}

.section1{
    margin-top: 48px;
    padding: 48px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.txtsec1{
    margin-right: 373px;
}
.txtsec1 > h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}

.btnsec1{
    height: fit-content;
    position: absolute;
    margin-top: 172px;
    border: 1px solid;    
    border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin-right: 1144px;

}

.btnsec1 > button{
    background-color: transparent;
    color: #0D1321;
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 12px 20px;
text-align: center;
}

.section2 > img{
    margin-left: 14px;
}
.section2{
    margin-top: 48px;
    padding: 48px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.txtsec2{
    margin-right: 373px;
    margin-left: 32px;
}
.txtsec2 > h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}

.btnsec2{
    height: fit-content;
    position: absolute;
    
    border: 1px solid;    
    border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin-top: 194px;
margin-left: 280px;
}

.btnsec2 > button{
    background-color: transparent;
    color: #0D1321;
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 12px 20px;
text-align: center;

}

.section1, .section2{
    border-radius: 8px;
}

.btnsec3 > button{
    background-color: transparent;
    color: #0D1321;
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 12px 20px;
text-align: center;
}

.btnsec3{
    height: fit-content;
    position: absolute;
    margin-top: 172px;
    border: 1px solid;    
    border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin-right: 1150px;
}

/* section-1-end */

/* section-2-start */


.inspiration{
    margin-top: 88px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.inspiration > h1{
    margin-bottom: 24px;
}

iframe{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.inspiration > p{
    margin-bottom: 48px;
}

    /* section-2-end */

    /* section-3-start */

.section3{
    padding: 0px 150px 0px 150px;
    margin-top: 151px;
}

.section3 > h1{
    margin-bottom: 24px;
    text-align: center;
}

.section3 > p{
    margin-bottom: 48px;
    text-align: center;
}

.code{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: center;
}

.codehtml{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 40px;
}


.codecss{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    
}

.codejs{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

.codetxt{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.codetxt > h2{
    margin-top: 24px;
    color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
margin-bottom: 8px;
}

.codetxt > p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
opacity: 0.7;
margin-bottom: 24px;
}

.codehtml, .codecss, .codejs{
    margin-right: 24px;
}

.codehtml > a, .codecss > a, .codejs > a{
font-size: 16px;
font-weight: 700;
color: #0D1321;
}

/* Section-3-end */

/* section-optional-start */

.optional{
    margin: 111px 150px;
}

.optional > h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.optional > p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;
margin-bottom: 48px;
}

.next-target{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
padding: 40px;
margin-bottom: 24px;
display: flex;
}

.next-target > img{
    margin-right: 24px;
}

.nexttxt > h1{
    margin-bottom: 8px;
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
}

.nexttxt > p{
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
opacity: 0.7;

}

.nexttxt > a{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
}

/* section-optional-end */

/* last-section-start */

.lastsection{
    margin: 49px 150px;
}

.support{
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 150px 200px;
    text-align: center;
    border-radius: 16px;
    background-image: url(./assets/handshake.jpg);
    
}

.support > h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.support > p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 16px;
    margin-bottom: 29px;
}

.input{
    width: 548px;
    height: 57px;
    border-radius: 8px;
    padding: 20px 19px;
    color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
border: none;
}

#footer{
    display: flex;
    background-color: #0D132108;
    padding: 32px 150px;
    justify-content: space-between;
    align-items: center;
}

.footertxt{   
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
